* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  display: grid;
  justify-content: center;
}

.grid_conteiner {
  width: 100%;
  max-width: 1200px;
  min-width: 200px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 0.3fr;
  grid-template-areas: "header" "main" "footer";
  background-color: #e7d4e7;
}

.header {
  padding: 20px 0;
  grid-area: header;
  background-color: #e7d4e7;
}

.header_title {
  font-size: 32px;  
  text-align: center;
}

.header_navigation {
  width:100%;
  display: flex;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  gap: 30px;
  padding-top: 10px;
}

.button {
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 22px;
  background-color: #10760b;
  color: #ffffff;
}

.button:hover {
  transform: scale(1.5, 1.5);
  background-color: #a8e7a4;
  color: #000000;
}

.main {
  grid-area: main;
   background-color: #e7d4e7;
}

.main_conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main_child {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #720aaf;
  font-size: 30px;
}

.main_child:hover {
  animation: turn 600ms;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes turn{
0% {
  transform: rotate(22.5deg);
}
15% {
  transform: rotate(45deg);
}
30% {
  transform: rotate(67.5deg);
}
45% {
  transform: rotate(90deg);
}
60%{
  transform: rotate(112.5deg);
}
75%{
  transform: rotate(135deg);
}
90%{
transform: rotate(157.5deg);
}
100%{
  transform: rotate(180deg);
}
}

.footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  width: 100%;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #e42fbd;
  border-radius: 50%;
  animation: jumping 3200ms;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circle:hover{
  animation-play-state: paused;
}

@keyframes jumping{
0%{
  transform: translate(0px, 0%);
  background-color: #10760b;
}
15%{
  transform: translate(7.5rem, 50%);
  background-color: #a8e7a4;
}
20%{
  transform: translate(22.5rem, -50%);
  background-color: #ff0000;
}
35%{
  transform: translate(30rem, 50%);
  background-color: #310b92; 
}
40%{
  transform: translate(37.5rem, -50%);
  background-color: #54b660;
}
50%{
  transform: translate(45rem, 50%);
  background-color: #a7ab3b;
}
60%{
  transform: translate(52.5rem, -50%);
  background-color: #ff0000;
}
70%{
  transform: translate(60rem, 50%);
  background-color: #291c5b;
}
90%{
  transform: translate(68rem, -50%);
  background-color: #ff0000;
}
100%{
  transform: translate(73rem, 50%);
  background-color: #239d15;
}
}